/* Header  
____________________________*/
@media screen and (max-width: 768px) {
	/* Home page 
	******************/
	#loader {
		margin-left: -32px;
	}
	#logo {
		width: 80px;
		margin: 10px;
	}
	.burgermenu {
	    top: 40px;
	    right: 40px;
	}
	.openMenu {
		top: 40px;
		height: 70px;
	}

	/* About page 
	******************/
	#about p {
		float: right;
		font-size: 13px;
		margin: 0px 23px;
	}
}